.Pricingpagemain{
    border: 10px solid transparent;
    margin-top: -65px;
    background-color: rgb(197, 255, 197);
    height: 500px;
}
.pp1{
    text-align: center;
    margin-top: 150px;
    font-size: 42px;
    font-family: sans-serif;
}
.ppara{
    text-align: center;
    font-size: 14px;
    margin-top: -10px;
}
.card1{
        background-color: rgba(229, 239, 225, 0.938);
       
        width: 350px;
        border-radius: 10px;
        margin-top: 70px;
        margin-left: 80px;
        padding-bottom: 20px;
}
.card1h{
    font-weight: 500;
    margin-left: 40px;
    margin-top: 30px;
    display: inline-block;
}
.card1p{
    margin-left: 40px;
    margin-top: -20px;
    font-size: 12px;
    
}
.card1h2{
    margin-left: 40px;
    /* font-family: sans-serif; */
    font-size: 40px;
}
.card1span{
    font-size: 14px;
}
.listpara{
    margin-left: 40px;
}
.cardbtn{
    text-align: center;
    width: 290px;
    padding: 15px;
    margin-left: 40px;
    border-radius: 30px;
    background-color: green;
    color: white;
    border: 0px;
    cursor: pointer;
}
.cardbtn:hover{
    color: black;
}

.card2{
    background-color: rgba(229, 239, 225, 0.938);
    width: 350px;
    border-radius: 10px;
    margin-top: -500px;
    margin-left: 500px;
    padding-bottom: 20px;
    height: 500px;
}
.cardbtn1{
    text-align: center;
    width: 290px;
    padding: 15px;
    margin-left: 40px;
    border-radius: 30px;
    background-color: transparent;
    color: black;
    border: 1px solid;
    cursor: pointer;
    margin-top: 122px;
  
}
.cardbtn1:hover{
    color: green;
}
.card3{
    background-color: rgba(229, 239, 225, 0.938);
    width: 350px;
    border-radius: 10px;
    margin-top: -500px;
    margin-left: 923px;
    padding-bottom: 20px;
    height: 500px;
    box-shadow: 1px;
}

.Pricingpagemain2{
    border: 0px solid;
    width: 88.5%;
    margin-top: 400px;
    margin-left: 90px;
    background-color:aliceblue;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.sclogo{
    margin-left: 40px;
    font-family: sans-serif;
    
}
.scl1{
    font-size: 12px;
    margin-left: 40px;
    font-family: sans-serif;
}
.scl2{
    font-size: 12px;
    margin-left: 40px;
    font-family: sans-serif;
}
.scl3{
    font-size: 12px;
    margin-left: 40px;
    font-family: sans-serif;
}